@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
 
}

body{
    height: 600vh;
    position: relative;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    order: 2; 
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s ease;
}

.Logo{
    height: 10vh;
    width: 100px;
    display: block;
}

.Logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-links{
    list-style: none;
    display: flex;
    
}

.nav-links li{
    margin: 20px;
    transition: all 0.2s;
}

.nav-links :hover{
    color: #088F8F;
    transform: translateY(-2px);
    transition: all 0.5s;
}

.nav-links a{
    padding: 0.7rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.Container_iniziale_Bottiglia{
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}


.Container_iniziale_Bottiglia img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(1px 0px 4px #000);
}

.Container_iniziale_Bottiglia h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 8rem;
    font-weight: 100;
    z-index: 2;
    
}

.Container_iniziale_Bottiglia span{
    filter: drop-shadow(0px 0px 2px #000);
    color: #C41E3A;
}

.Container_video{
    background-color: #088F8F;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container_mp4{
    max-width: 760px;
    z-index: 1;
}

.container_mp4 video{
    max-width: 760px;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #000000;
}

.Container_punti{
    width: 100%;
    height: 100%;
    position: absolute;    
}

#Punti{
    width: 50%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(248, 248, 238);
    font-size: 18px;
    filter: drop-shadow(0px 0px 2px #000);
}



.Primo_punto{
    top: 0%;
    left: 0%;
}

#Punti h1{
    font-size: 29px;
    padding: 0 20px;
}

.Secondo_punto{
    top: 80%;
    left: 0%;

}

.Terzo_punto{
    top: 0%;
    right: 0%;
    text-align: end;
}

.Quarto_punto{
    text-align: end;
    top: 80%;
    right: 0%;

}

#Numero{ 
    font-size: 7vw;
    color: #C41E3A;    
}



#Primo_tooltip {
    font-size: 18px;
    position: absolute;
    left: 8%;
    opacity: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 99;
}

#Secondo_tooltip{
    font-size: 18px;
    position: absolute;
    text-align: left;
    left: 8%;
    top: -10%;
    opacity: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s; 

}

#Terzo_tooltip{
    font-size: 18px;
    position: absolute;
    text-align: left;
    right: 4%;
    opacity: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

#Quarto_tooltip{
    font-size: 18px;
    position: absolute;
    text-align: left;
    right: 2%;
    top: -10%;
    opacity: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s; 
}

.Primo_punto:hover #Primo_tooltip {
    opacity: 1;
    transform: translateY(0);
}

.Secondo_punto:hover #Secondo_tooltip {
    opacity: 1;
    transform: translateY(0);
}

.Terzo_punto:hover #Terzo_tooltip {
    opacity: 1;
    transform: translateY(0);
}

.Quarto_punto:hover #Quarto_tooltip {
    opacity: 1;
    transform: translateY(0);
}

.Container_Titolo h1{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 4vw;
    text-align: center;
    height: 15%;
    margin: 100px 0px;
}

.Container_Articoli{
    position: relative;
    height: 90vh;
    max-width: 760px;
    margin: 20px auto;
    display: flex;
    box-shadow: rgb(0, 0, 0) 0px 0px 25px 6px;
}

.Immagine_centrale{
    width:100%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.Container_immagine{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.Container_immagine img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container_Seconda_immagine{
    width: 50%;
    height: 100%;
    overflow: hidden;
    
}

.Container_Seconda_immagine img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container_navigazione{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    height: 20px;
  
}

.Container_navigazione .dot{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

.second-carousel-text{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 20%;
    right: 0%;
    font-family: 'Ubuntu', sans-serif;
    color: beige;
    font-size: 35px;
    text-align: right;
    padding: 1.25rem;
    padding-top: 120px;
    filter: drop-shadow(0px 0px 2px #000);
    
}
.Container_Seconda_immagine{
    position: relative;
}


.Container_Funzionamento{
    height: 700px;
    border: 1px solid red;
}


.Footer{
    width: 100%;
    height: 350px;
    background-color: #088F8F;
   

}

.Container_Elementi{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.Container_Elementi li{
    list-style: none;

}



.Container_Tappo{
    height: 680px;
    display: flex;
    flex-direction: row-reverse;
   
   
}
#secondo_cotainer{
    flex-direction: row;
}

#secondo_cotainer img{
    object-fit: cover;
}

.Container_Tappo .Parte_destra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
}

.Container_Tappo .Parte_destra img{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.Container_Tappo .Parte_sinistra{
    width: 50%;
    height: 100%;
}

.Container_Tappo .Parte_sinistra h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 35px;
    width: 100%;
    margin: 0px auto;
}


.Container_Tappo .Parte_sinistra span{
    
    font-size: 40px;
    color: #088F8F;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

.Container_Tappo .Parte_sinistra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.Immagine_Sopra{
    width: 100%;
    height: 60px;

    margin-bottom: -20px;
}

.Immagine_Sopra img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.Tappo_Smart{
    height: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    position: relative;
}




.Tappo_Smart img{
    object-fit: contain;
    height: 100%;
    width: 60%;
    z-index: 12;
  
}

.linea_orizzontale{
    width: 99.9%;
    position: absolute;
    border: 1px solid black;
    top: 50%;
    z-index: -2;
}

.Testo_Tappo{
    margin-top: 50px;
    text-align: center;
    
}

.Testo_Tappo h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 35px;
    width: 100%;
 
    margin: 0px auto;
}

.Testo_Tappo span{
    font-size: 40px;
    color: #088F8F;
    filter: drop-shadow(-2px 0px 1px #000);
    
}


.Container_Elementi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Container_logo{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}


.Container_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.Footer .nav-links li a:hover{
    color: white;
}

.Container_icone_social{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Container_icone_social div{
    cursor: pointer;
}


.nav-links_footer{
   
    max-width: 500px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
    


.nav-links_footer a{
   
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.nav-links_footer a:hover{
    color: white;
}








.outerdiv
{
	width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
    font-family: "Open Sans", sans-serif;
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #088F8F;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:black;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: black;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #ffffff;
    font-weight: 600;
    opacity: 70%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}


.Container_Elementi h6{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 400;
}


@media screen and (max-width: 1024px) {
    .Container_iniziale_Bottiglia h1{
        font-size: 10vw;
        top: 35%;
    }

    .innerdiv
	{
		transform: scale(0.6);
	}
   
    .outerdiv{
        height: 600px;

    }
}

@media screen and (max-width: 950px) {
    
    #Secondo_tooltip{
        top:100%;
        transform: translateY(-10px);    
    }
    #Quarto_tooltip{
        top:100%;
        transform: translateY(-10px);    
    }

    .Primo_punto{
        top: 2%;
    }

    .Terzo_punto {
        top: 2%;
    }
   
   
}



@media screen and (max-width: 768px) {
    
    .innerdiv
	{
		transform: scale(0.6);
	}
    .hamburger {
        display: flex;
        position: absolute;
        right: 8%;
    }

    .nav-links {
        border: 1px solid black;
        border-right: none ;
        border-bottom-left-radius: 12px;
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        
        height: 380px;
        text-align: center;
        top: 88px;
        right: 0; /* Cambia "left" in "right" */
        z-index: 4;
        
    }

   

    .nav-links.active {
        display: flex;
      
    }

    .nav-links li{
        margin-bottom: 60px;
    }

    .Container_iniziale_Bottiglia{
        height: 80vh;
       
    }
    .Container_iniziale_Bottiglia h1{
        top: 40%;
        font-size: 12vw;
    }

   
    
    .Container_video{
        display: flex;
        flex-direction: column;
        height: 110vh;
        width: 100%;
        
    }

    .container_mp4{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        padding-top: 50px;

     
    }

    .container_mp4 video{
        width:  90%;
        
    }

    .Container_punti{
        height: 58%;
        width: 90%;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px auto;
        
    }

    #Numero{
        font-size: 10vw;
        padding-right: 10px;
    }
    #Punti h1{
        font-size: 24px;
    }

    #Punti{
        position: static;
        width: 100%;
    }

    .Terzo_punto{
        text-align: left;
    }

    .Quarto_punto{
        text-align: left;
    }

    .Secondo_punto{
        text-align: left;
    }

    .Container_Articoli{
        width: 80%;
        height: 80vh;
        flex-direction: column;
    }

    .Container_immagine{
        width: 100%;
    }

    .Container_Seconda_immagine{
        width: 100%;
    }

    .second-carousel-text{
        width: 90%;
        height: auto;
        text-align: center;
        font-size: 25px;
        top: 10%;
    }

    #Terzo_tooltip{
  
        text-align: left;
        left: 8%;
     
        
    }
    #Quarto_tooltip{
  
        text-align: left;
        left: 8%;
     
        
    }

    .Container_Tappo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .Container_Tappo .Parte_destra{
        height: 40%;
        width: 100%;
        border: none;
   
    }

    .Container_Tappo .Parte_destra img{
        height: 100%;
        border: none;
   
    }

    .Container_Tappo .Parte_sinistra{
        width: 100%;
        height: 60%;
        padding-top: 40px;
    }

    .Immagine_Sopra{
        padding-bottom: 20px;
    }

   .Container_Tappo .Parte_sinistra h1{
        font-size: 20px;
    }
    
    .Container_Tappo .Parte_sinistra span{
        font-size: 23px;
    }
    
    .Container_Titolo h1{
        font-size: 5vw;
    }
    
    #Funzionalità h1{
        margin-bottom: 0px;
    }


    .outerdiv{
        height: auto;
    }

    .innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
    
}


@media screen and (max-width: 650px) {
   

.Container_iniziale_Bottiglia{
    height: 70vh;
       
}

.Container_video{
    height: 100vh;
}



#Punti h1{
    font-size: 22px;
}

}



@media screen and (max-width: 550px) {
   

    .container_mp4{
        height: 40%;
        padding-top: 20px;
    
    }
    .Container_Titolo h1{
        font-size: 6.5vw;
    }

    .second-carousel-text{
        width: 88.5%;
        top: 5%;
        font-size: 5vw;
    }
    

    .nav-links_footer{
        flex-direction: column;
        align-items: center;
    }

    .nav-links_footer li{
        padding-bottom: 5px;
    }
    
}
